@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-video{
  object-fit: cover;
  width:100%;
  height:100vh;
  position:fixed;
  top:0;
  left:0;
  z-index: -1;
  
}
.nav-text{
  color:rgb(0, 0, 0)
}
.bg-card{
  background-color: rgba(128, 203, 243, 0.324);
  box-shadow: -10px -10px 30px 0 #fff,10px 10px 30px 0 #1d0dca17;
}
.bg-shadow{
  box-shadow: -10px -10px 30px 0 #fff,10px 10px 30px 0 #1d0dca17;
}
.button {
  all: unset;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.6em 2em;
  border: mediumspringgreen solid 0.15em;
  border-radius: 0.25em;
  color: mediumspringgreen;
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
  overflow: hidden;
  transition: border 300ms, color 300ms;
  user-select: none;
}

.button p {
  z-index: 1;
}

.button:hover {
  color: #212121;
}

.button:active {
  border-color: teal;
}

.button::after, .button::before {
  content: "";
  position: absolute;
  width: 9em;
  aspect-ratio: 1;
  background: mediumspringgreen;
  opacity: 50%;
  border-radius: 50%;
  transition: transform 500ms, background 300ms;
}

.button::before {
  left: 0;
  transform: translateX(-8em);
}

.button::after {
  right: 0;
  transform: translateX(8em);
}

.button:hover:before {
  transform: translateX(-1em);
}

.button:hover:after {
  transform: translateX(1em);
}

.button:active:before,
.button:active:after {
  background: teal;
}



.button-67 {
  height:fit-content;
  align-items: center;
  background: #f5f5fa;
  border: 0;
  border-radius: 8px;
  box-shadow: -10px -10px 30px 0 #fff,10px 10px 30px 0 #1d0dca17;
  box-sizing: border-box;
  color: #2a1f62;
  cursor: pointer;
  display: flex;
  font-family: "Cascadia Code",Consolas,Monaco,"Andale Mono","Ubuntu Mono",monospace;
  font-size: 1rem;
  justify-content: center;
  line-height: 1.5rem;
  padding: 15px;
  position: relative;
  text-align: left;
  transition: .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: pre;
  width: max-content;
  word-break: normal;
  word-spacing: normal;
}

.button-67:hover {
  background: #fbfbfb;
  box-shadow: -15px -15px 30px 0 #fff, 15px 15px 30px 0 #1d0dca17;
}

@media (min-width: 768px) {
  .button-67 {
    padding: 24px;
  }
}

@keyframes ping-3s {
  0%, 100% {
    transform: scale(1);
    opacity: 0;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
}

.animate-ping-3s {
  animation: ping-3s 3s linear infinite;
}
.button-red {
  height:fit-content;
  align-items: center;
  background: rgba(36, 36, 36, 0.443);
  border: 0;
  border-radius: 8px;
  box-shadow: -10px -10px 30px 0 #fffdfd73,10px 10px 30px 0 #000000;
  box-sizing: border-box;
  color: #fcfafa;
  cursor: pointer;
  display: flex;
  font-family: "Cascadia Code",Consolas,Monaco,"Andale Mono","Ubuntu Mono",monospace;
  font-size: 2rem;
  justify-content: center;
  line-height: 1.5rem;
  padding: 15px;
  position: relative;
  text-align: left;
  transition: .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: pre;
  width: max-content;
  word-break: normal;
  word-spacing: normal;
}

.button-red:hover {
  background: #0000008b;
  box-shadow: -15px -15px 30px 0 #f9f9f9, 15px 15px 30px 0 #1d0dca17;
}
.bg-card {
  transition: all 0.3s ease;
}

.bg-card:hover {
  transform: scale(1.2);
}
@media (max-width:900px){
  .bg-card{
    transform:none;
  }
}
@media (max-width:767px){
  .hambur{
    display: none;
  }
  .hambur-clicked{
    display: block;
  }
}
.cr{
  color:#ffffff75;
  font-size: x-small;
}



